@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ce4b4b;
  --foreground: #171717;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  outline: none;
  padding: 0;
  margin: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--vazir-font);
  min-height: 100vh;
  user-select: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 0s 600000s, color 0s 600000s !important;
}
